.fs0 {
    font-size: 0
}

.fs20 {
    font-size: 0.2rem;
}

.fs22 {
    font-size: 0.22rem;
}

.fs24 {
    font-size: 0.24rem;
}

.fs26 {
    font-size: 0.26rem;
}

.fs28 {
    font-size: 0.28rem;
}

.fs30 {
    font-size: 0.3rem;
}

.fs32 {
    font-size: 0.32rem;
}

.fs34 {
    font-size: 0.34rem;
}

.fs36 {
    font-size: 0.36rem;
}

.fs38 {
    font-size: 0.38rem;
}

.fs40 {
    font-size: 0.4rem;
}

.fs42 {
    font-size: 0.42rem;
}

.fs44 {
    font-size: 0.44rem;
}

.fs46 {
    font-size: 0.46rem;
}

.fs48 {
    font-size: 0.48rem;
}

.fs50 {
    font-size: 0.5rem;
}

.fs52 {
    font-size: 0.52rem;
}

.fs54 {
    font-size: 0.54rem;
}

.fs56 {
    font-size: 0.56rem;
}

.fs58 {
    font-size: 0.58rem;
}

.fs60 {
    font-size: 0.6rem;
}

.fs62 {
    font-size: 0.62rem;
}

.fs64 {
    font-size: 0.64rem;
}

.fs66 {
    font-size: 0.66rem;
}

.fs68 {
    font-size: 0.68rem;
}

.fs70 {
    font-size: 0.7rem;
}

.fs72 {
    font-size: 0.72rem;
}

.fs74 {
    font-size: 0.74rem;
}

.fs76 {
    font-size: 0.76rem;
}

.fs78 {
    font-size: 0.78rem;
}

.fs80 {
    font-size: 0.8rem;
}

.fs82 {
    font-size: 0.82rem;
}

.fs84 {
    font-size: 0.84rem;
}

.fs86 {
    font-size: 0.86rem;
}

.fs88 {
    font-size: 0.88rem;
}

.fs90 {
    font-size: 0.9rem;
}

.fs92 {
    font-size: 0.92rem;
}

.fs94 {
    font-size: 0.94rem;
}

.fs96 {
    font-size: 0.96rem;
}

.fs98 {
    font-size: 0.98rem;
}

.fs100 {
    font-size: 1rem;
}

.VW1 {
    width: 1VW
}

.VW2 {
    width: 2VW
}

.VW3 {
    width: 3VW
}

.VW4 {
    width: 4VW
}

.VW5 {
    width: 5VW
}

.VW6 {
    width: 6VW
}

.VW7 {
    width: 7VW
}

.VW8 {
    width: 8VW
}

.VW9 {
    width: 9VW
}

.VW10 {
    width: 10VW
}

.VW11 {
    width: 11VW
}

.VW12 {
    width: 12VW
}

.VW13 {
    width: 13VW
}

.VW14 {
    width: 14VW
}

.VW15 {
    width: 15VW
}

.VW16 {
    width: 16VW
}

.VW17 {
    width: 17VW
}

.VW18 {
    width: 18VW
}

.VW19 {
    width: 19VW
}

.VW20 {
    width: 20VW
}

.VW21 {
    width: 21VW
}

.VW22 {
    width: 22VW
}

.VW23 {
    width: 23VW
}

.VW24 {
    width: 24VW
}

.VW25 {
    width: 25VW
}

.VW26 {
    width: 26VW
}

.VW27 {
    width: 27VW
}

.VW28 {
    width: 28VW
}

.VW29 {
    width: 29VW
}

.VW30 {
    width: 30VW
}

.VW31 {
    width: 31VW
}

.VW32 {
    width: 32VW
}

.VW33 {
    width: 33VW
}

.VW34 {
    width: 34VW
}

.VW35 {
    width: 35VW
}

.VW36 {
    width: 36VW
}

.VW37 {
    width: 37VW
}

.VW38 {
    width: 38VW
}

.VW39 {
    width: 39VW
}

.VW40 {
    width: 40VW
}

.VW41 {
    width: 41VW
}

.VW42 {
    width: 42VW
}

.VW43 {
    width: 43VW
}

.VW44 {
    width: 44VW
}

.VW45 {
    width: 45VW
}

.VW46 {
    width: 46VW
}

.VW47 {
    width: 47VW
}

.VW48 {
    width: 48VW
}

.VW49 {
    width: 49VW
}

.VW50 {
    width: 50VW
}

.VW51 {
    width: 51VW
}

.VW52 {
    width: 52VW
}

.VW53 {
    width: 53VW
}

.VW54 {
    width: 54VW
}

.VW55 {
    width: 55VW
}

.VW56 {
    width: 56VW
}

.VW57 {
    width: 57VW
}

.VW58 {
    width: 58VW
}

.VW59 {
    width: 59VW
}

.VW60 {
    width: 60VW
}

.VW61 {
    width: 61VW
}

.VW62 {
    width: 62VW
}

.VW63 {
    width: 63VW
}

.VW64 {
    width: 64VW
}

.VW65 {
    width: 65VW
}

.VW66 {
    width: 66VW
}

.VW67 {
    width: 67VW
}

.VW68 {
    width: 68VW
}

.VW69 {
    width: 69VW
}

.VW70 {
    width: 70VW
}

.VW71 {
    width: 71VW
}

.VW72 {
    width: 72VW
}

.VW73 {
    width: 73VW
}

.VW74 {
    width: 74VW
}

.VW75 {
    width: 75VW
}

.VW76 {
    width: 76VW
}

.VW77 {
    width: 77VW
}

.VW78 {
    width: 78VW
}

.VW79 {
    width: 79VW
}

.VW80 {
    width: 80VW
}

.VW81 {
    width: 81VW
}

.VW82 {
    width: 82VW
}

.VW83 {
    width: 83VW
}

.VW84 {
    width: 84VW
}

.VW85 {
    width: 85VW
}

.VW86 {
    width: 86VW
}

.VW87 {
    width: 87VW
}

.VW88 {
    width: 88VW
}

.VW89 {
    width: 89VW
}

.VW90 {
    width: 90VW
}

.VW91 {
    width: 91VW
}

.VW92 {
    width: 92VW
}

.VW93 {
    width: 93VW
}

.VW94 {
    width: 94VW
}

.VW95 {
    width: 95VW
}

.VW96 {
    width: 96VW
}

.VW97 {
    width: 97VW
}

.VW98 {
    width: 98VW
}

.VW99 {
    width: 99VW
}

.VW100 {
    width: 100VW
}

.VH1 {
    height: 1vh;
}

.VH2 {
    height: 2vh;
}

.VH3 {
    height: 3vh;
}

.VH4 {
    height: 4vh;
}

.VH5 {
    height: 5vh;
}

.VH6 {
    height: 6vh;
}

.VH7 {
    height: 7vh;
}

.VH8 {
    height: 8vh;
}

.VH9 {
    height: 9vh;
}

.VH10 {
    height: 10vh;
}

.VH11 {
    height: 11vh;
}

.VH12 {
    height: 12vh;
}

.VH13 {
    height: 13vh;
}

.VH14 {
    height: 14vh;
}

.VH15 {
    height: 15vh;
}

.VH16 {
    height: 16vh;
}

.VH17 {
    height: 17vh;
}

.VH18 {
    height: 18vh;
}

.VH19 {
    height: 19vh;
}

.VH20 {
    height: 20vh;
}

.VH21 {
    height: 21vh;
}

.VH22 {
    height: 22vh;
}

.VH23 {
    height: 23vh;
}

.VH24 {
    height: 24vh;
}

.VH25 {
    height: 25vh;
}

.VH26 {
    height: 26vh;
}

.VH27 {
    height: 27vh;
}

.VH28 {
    height: 28vh;
}

.VH29 {
    height: 29vh;
}

.VH30 {
    height: 30vh;
}

.VH31 {
    height: 31vh;
}

.VH32 {
    height: 32vh;
}

.VH33 {
    height: 33vh;
}

.VH34 {
    height: 34vh;
}

.VH35 {
    height: 35vh;
}

.VH36 {
    height: 36vh;
}

.VH37 {
    height: 37vh;
}

.VH38 {
    height: 38vh;
}

.VH39 {
    height: 39vh;
}

.VH40 {
    height: 40vh;
}

.VH41 {
    height: 41vh;
}

.VH42 {
    height: 42vh;
}

.VH43 {
    height: 43vh;
}

.VH44 {
    height: 44vh;
}

.VH45 {
    height: 45vh;
}

.VH46 {
    height: 46vh;
}

.VH47 {
    height: 47vh;
}

.VH48 {
    height: 48vh;
}

.VH49 {
    height: 49vh;
}

.VH50 {
    height: 50vh;
}

.VH51 {
    height: 51vh;
}

.VH52 {
    height: 52vh;
}

.VH53 {
    height: 53vh;
}

.VH54 {
    height: 54vh;
}

.VH55 {
    height: 55vh;
}

.VH56 {
    height: 56vh;
}

.VH57 {
    height: 57vh;
}

.VH58 {
    height: 58vh;
}

.VH59 {
    height: 59vh;
}

.VH60 {
    height: 60vh;
}

.VH61 {
    height: 61vh;
}

.VH62 {
    height: 62vh;
}

.VH63 {
    height: 63vh;
}

.VH64 {
    height: 64vh;
}

.VH65 {
    height: 65vh;
}

.VH66 {
    height: 66vh;
}

.VH67 {
    height: 67vh;
}

.VH68 {
    height: 68vh;
}

.VH69 {
    height: 69vh;
}

.VH70 {
    height: 70vh;
}

.VH71 {
    height: 71vh;
}

.VH72 {
    height: 72vh;
}

.VH73 {
    height: 73vh;
}

.VH74 {
    height: 74vh;
}

.VH75 {
    height: 75vh;
}

.VH76 {
    height: 76vh;
}

.VH77 {
    height: 77vh;
}

.VH78 {
    height: 78vh;
}

.VH79 {
    height: 79vh;
}

.VH80 {
    height: 80vh;
}

.VH81 {
    height: 81vh;
}

.VH82 {
    height: 82vh;
}

.VH83 {
    height: 83vh;
}

.VH84 {
    height: 84vh;
}

.VH85 {
    height: 85vh;
}

.VH86 {
    height: 86vh;
}

.VH87 {
    height: 87vh;
}

.VH88 {
    height: 88vh;
}

.VH89 {
    height: 89vh;
}

.VH90 {
    height: 90vh;
}

.VH91 {
    height: 91vh;
}

.VH92 {
    height: 92vh;
}

.VH93 {
    height: 93vh;
}

.VH94 {
    height: 94vh;
}

.VH95 {
    height: 95vh;
}

.VH96 {
    height: 96vh;
}

.VH97 {
    height: 97vh;
}

.VH98 {
    height: 98vh;
}

.VH99 {
    height: 99vh;
}

.VH100 {
    height: 100vh;
}

.W100 {
    width: 100%;
}

.mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.maskBG {
    width: 100%;
    height: 100%;
}

.onlyOneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.onlyTwoLine {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.showRightTop {
    position: absolute;
    top: 0;
    right: 0;
}

.relative {
    position: relative;
}

.showLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.showRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.showBottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.showCenterCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p20 {
    padding: .2rem;
}

.displyIB {
    display: inline-block;
}

.h50 {
    height: .5rem;
}

.h80 {
    height: .8rem;
}

.lh80 {
    line-height: .8rem;
}

.left20 {
    left: .2rem;
}

.right20 {
    right: .2rem;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.displayIB {
    display: inline-block;
}

.pb-20 {
    padding-bottom: .2rem;
}

.pb-0 {
    padding-bottom: 0;
}

.srcollY {
    overflow-y: auto;
}

/**项目专用**/
body {
    background-color: #F0F8FF;
}

.btn {
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    border-radius: .1rem;
}

.fontWhite {
    color: white;
}

.fontGreen {
    color: #01BCB5;
}

.fontGray {
    color: #9b9b9b;
}

.bgWhite {
    background-color: white;
}

.bgGreen {
    background-color: #01BCB5;
}

.bgGray {
    background-color: #C5C5C5;
}

.grayLine {
    height: .02rem;
    background-color: #C5C5C5;
}

.bigInput {
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    padding: 0 .2rem;
}

.borderBottomGray {
    border-bottom: .02rem solid #dddddd;
}

.squarePhoto {
    display: block;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.w220 {
    width: 2.2rem;
}

.w200 {
    width: 2rem;
}

.w120 {
    width: 1.2rem;
}

.w150 {
    width: 1.5rem;
}

.h200 {
    height: 2rem;
}

.h10 {
    height: .1rem;
}

.radius10 {
    border-radius: .1rem;
}

.mb20 {
    margin-bottom: .2rem;
}